<!-- <footer class="footer">
  <div class="container-fluid">
    <div class="float-left">
      <span>Gentleman’s Quarter’s &copy; 2018</span>
    </div>
    <div class="float-right">
      <img class="footer-icon" src="assets/img/contact-phone-icon.png" width="30" height="30" />
      <img class="footer-icon" src="assets/img/Twitter_Logo_Blue.svg" width="45" height="45" />
      <img class="footer-icon" src="assets/img/flogo_RGB_HEX-72.svg" width="30" height="30" />
    </div>
  </div>
</footer> -->
