<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/img/gq_official_logo.svg" width="100" height="100" alt="Gentlemens Quarters">
    <span class="header-title">Gentlemen's Quarters</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">


      <a class="nav-item nav-link" href="#">Dashboard</a>
      <a class="nav-item nav-link" href="#">Services</a>
      <a class="nav-item nav-link" href="#">Appointment</a>
      <a class="nav-item nav-link" href="#">blog</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
         <!--<nav>
        <a routerLink="/">Dashboard</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/appointments">Appointment</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
        <router-outlet></router-outlet>
      </nav>-->
    </div>
  </div>
</nav>
