<div class="mdl-card mdl-shadow--3dp">
  <div class="time-banner green">
    <i class="material-icons">
      bookmark
    </i>
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <i class="material-icons">access_time</i>
      <span>3:30 pm</span>
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="barber-box">
      <table class="barber-box-table">
        <tr>
          <td>
            <i class="material-icons person-icon">person</i>
          </td>
          <td>
            <span>Barber:</span>
          </td>
          <td>
            <span>T-Mac</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="cost-box">
      <table class="cost-box-table">
        <tr>
          <td>
            <i class="material-icons money-icon">attach_money</i>
          </td>
          <td>
            <span>Cost:</span>
          </td>
          <td>
            <span>$25</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mdl-card__actions">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Book It!
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Contact Barber
    </a>
  </div>
</div>