<div class="card text-center">
  <div class="card-header">
    Back To School: Haircut Specials for 17 & Under
  </div>
  <div class="card-body">
      <!-- <img class="card-img" src="assets/img/back-to-school.jpg"/> -->
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div>
  </div>
</div>
