<div mdl class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout--fixed-header">
    <div class="mdl-layout__header-row">
      <img src="/assets/img/gq_official_logo.svg" width="64" height="64" alt="Gentlemens Quarters">
      <span class="mdl-layout-title">Gentlemens Quarters</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a *ngFor="let route of routes" class="mdl-navigation__link" [routerLink]="route.link">{{route.name}}</a>
        <button id="user-menu" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">account_circle</i>
        </button>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Gentlemens Quarters</span>
    <nav class="mdl-navigation">
      <a *ngFor="let route of routes" class="mdl-navigation__link" [routerLink]="route.link">{{route.name}}</a>
      <button *ngIf="user" class="mdl-button mdl-button--colored mdl-js-button 
              mdl-js-ripple-effect logout-btn" (click)="logout()">Logout</button>
      <button *ngIf="!user" class="mdl-button mdl-button--colored mdl-js-button 
              mdl-js-ripple-effect login-btn" (click)="goToLogin()">Login</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">
        Gentleman’s Quarter’s &copy; {{currentYear}}
      </div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy and Terms</a></li>
        <li><a href="#">User Agreement</a></li>
      </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <button class="mdl-mini-footer__social-btn">
        <img src="/assets/img/flogo-HexRBG-Wht-72.svg" />
      </button>
      <button class="mdl-mini-footer__social-btn">
        <img src="/assets/img/Twitter_Logo_WhiteOnImage.svg" />
      </button>
      <button class="mdl-mini-footer__social-btn">
        <img src="/assets/img/In-White-0p75in-R.svg" />
      </button>
    </div>
  </footer>
</div>

<ul *ngIf="user" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="user-menu">
  <li class="mdl-menu__item">Profile</li>
  <li class="mdl-menu__item">Appointment History</li>
  <li class="mdl-menu__item" (click)="logout()">Logout</li>
</ul>
<ul *ngIf="!user" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="user-menu">
  <li class="mdl-menu__item" (click)="goToLogin()">Login</li>
</ul>