/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Open Sans', sans-serif;
  background: url(assets/img/background-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.center-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}